.raygan-thumb {
  width: 100%;
  a img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}

.main-photo-profile {
  margin: 0 auto;
  width: 15vw;
  border-radius: 25em;
  @include phone {
    width: 30vw;
  }
}

.raygan-detail {
  &-title {
    font-size: 17px;
    line-height: 1.4;
    text-transform: none;
  }
  &-abstract {
    font-size: 13px;
    line-height: 1.55;
    padding: 0 0 10px;
  }
}


.skillset {

  &-item {
    list-style: height 1.8;
  }
}