.raygan {
  &-navbar {
    padding: .5rem 0;
    background: var(--white);
    position: sticky;
    top: -1px;
    z-index: 9999;
  }
  &-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
      display: block;
      padding: 13px 25px;
      font-size: 17px;
      font-size: 13px;
      line-height: 1.25;
      &:focus {
        outline: 0;
      }
      &:hover {
        color: #F7A703;
      }
    }
  }
}
