.cv {
  margin: 2rem 0;
  &-title {
    margin: 1rem 0;
  }
  &-about {
    width: 80%;
    text-align: justify;
    line-height: 1.7;
    @include phone {
      width: 100%;
    }
  }
  &-skills {
    --column-count: 3;
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    grid-gap: 1rem;
    padding: 2em;
    @include phone {
      --column-count: 1;
    }
    &-item {
      padding: 1em 0;
      @include phone {
        padding: 0;
      }
    }

    &-description {
      margin: 1rem 0;
      line-height: 1.6;
    }

  }
}


.main-footer {
  padding: 120px 0 40px;
  display: flex;
  justify-content: space-between;

  @include phone {
    flex-direction: column-reverse;
  }
}