$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@for $i from 1 through 5 {
  .margin-top-#{$i} {
    margin-top: #{$i}rem;
  }  
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}rem;
  }

}

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
