@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Poppins');



$border-color: rgba(#f1f1f1, 0.3);


:root {
    /*
        Colors
        if you modify these variables of sass please modify 
        the vars of the root and in a contrary way
    */

    --neutral-color     : #e9ecef;


    --first-color       : #090720;
    --first-color-alt   : #090720;

    --second-color      : #CB7C57;
    --second-color-alt  : #CB7C57;

    --third-color       : #E2E4E6;
    


    --text-color        : #282828;
    --text-color-alt    : #CB7C57;
    --text-color-aux    : #FFFFFF;

    --dark              : #2e2e2e;
    --white             : #FFF;

    --danger            : #f0506e;
    --succes            : #32d296;



    /*
        Typography
    */

    --font-family       : 'Source Sans Pro', sans-serif;
    --line-height       : 1.6;


    --font-size         : 16px;

    --font-size-md     : 2.2em;
    --font-size-lg     : 3.2em;

    --font-style-light  : 100;
    --font-style-regular: normal;
    --font-style-semibold: 400;
    --font-style-bold    : 700;

    /*
    
        Layers

    */

    --z-back            : -1;
    --z-normal          : 1;
    --z-subnormal       : 2;
    --z-tooltip         : 10;
    --z-fixed           : 100;
    --z-modal           : 1000; 



    /*
        Sizing
    */

    --padding-none      : 0;
    --margin-none       : 0;

    --padding           : 1rem;
    --margin            : 1rem;

    --padding-xs        : calc(var(--padding) / 2);
    --margin-xs         : calc(var(--margin) / 2);

    --padding-m         : calc(var(--padding) * 2);
    --margin-m          : calc(var(--margin) * 2);

    --padding-l         : calc(var(--padding) * 3);
    --margin-l          : calc(var(--margin) * 3);

    --padding-em        : 1em;
    --margin-em         : 1em;

    --padding-em-m      : calc(var(--padding-em) * 2);
    --margin-em-m       : calc(var(--margin-em) * 2);

    --padding-em-l      : calc(var(--padding-em) * 3);
    --margin-em-l       : calc(var(--margin-em) * 3);


    /*
       Miscelaneous
    */

    --border-radius     : .15rem;
    --border-radius-m   : calc(var(--border-radius) + 1.1);
    --border-radius-l   : calc(var(--border-radius-m) + 1.1);

    --all-transition    : all .2s ease-in-out;
    --hover-transition  : all 150ms ease;
    --input-transition  : .2s ease-in-out;


    --simple-box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    /*
        Breakpoints
    */

    --breakpoint-xs     : 0;
    --breakpoint-sm     : 576px;
    --breakpoint-md     : 768px;
    --breakpoint-lg     : 992px;
    --breakpoint-xl     : 1200px;


}


    /*
        Breakpoints
    */

    $breakpoint-xs     : 0;
    $breakpoint-sm     : 767px;
    $breakpoint-md     : 768px;
    $breakpoint-lg     : 992px;
    $breakpoint-xl     : 1024px;

    $phone-width       : 767px;
    $tablet-width      : 768px;
    $desktop-width     : 1024px;

