.raygan-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.raygan {
  --column-count: 4;
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: 3rem;
  @include tablet {
    --column-count: 3;
  }
  @include phone {
    --column-count: 1;
  }
}

.social {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include phone {
    justify-content: center;
  }
  &-item {
    padding: 1em;
  }
  &-link {
    &:hover {
      color: #F7A703;
    }
  }
}
