*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: var(--all-transition);
}

html {
  scroll-behavior: smooth;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-weight: 100 !important;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-style-light);
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.525rem;
}

h3 {
  font-size: 1.425rem;
}

h4 {
  font-size: 1.313rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.6;
}

footer {
  margin-top: auto;
}
