
.text-center {
  text-align: center;
}

.text-accent {
  color: var(--text-color-alt);
}

.text-bold {
  font-weight: var(--font-style-bold);
}


.raygan-title {
  font-size: 1.625rem;
  text-align: center;
  margin: 2rem 0 3rem;
  text-transform: uppercase;
}
